<nav>
    <div class="container">
        <h1 class="logo">Cez3x Blogs</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </div>
</nav>

<script>
    document.querySelector('.logo').addEventListener('click', () => {
        location.href = '/'
    })
</script>