body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*==== Navbar ====*/
nav {
    box-shadow: 0 0 5px 1px #000;
}
nav .container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 20px;
}
nav .logo {
    cursor: pointer;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 600;
}
nav li a:hover {
    text-decoration: underline;
}

/*==== New Blog ====*/
form {
    width: 25em;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}
form label {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
form input {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}
form textarea {
    padding: 10px;
    font-size: 20px;
    height: 100px;
    margin-bottom: 40px;
}
form button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

/*==== Blogs ====*/
.blogs-container {
    width: 70%;
    margin: 100px auto;
}
.blog {
    padding-left: 20px;
    border-left: 6px solid red;
    margin-bottom: 50px;
    position: relative;
}
.blog a {
    text-decoration: none;
    color: inherit;
}
.blog .delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 22px;
    cursor: pointer;
}
.delete-btn:hover {
    color: red;
}
.blog-title {
    font-size: 30px;
    margin-bottom: 0;
    cursor: pointer;
}
.blog-body {
    font-size: 20px;
    color: #4d4d4d;
}
.blog-title:hover {
    color: red;
}
.blog-title,
.blog-body {
    width: 500px;
}

.single-blog {
    border: none;
    margin: 100px auto;
    width: 500px;
    text-align: center;
}
.single-blog .blog-title {
    margin: 50px 0;
}
.single-blog .delete-btn {
    cursor: pointer;
    width: 60px;
    margin: 50px auto;
    font-size: 20px;
    font-weight: 600;
}

/*==== Footer ====*/
.footer {
    color: #1d1d1d;
    text-align: center;
}